<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
		<meta name="viewport" content="wideth=device-width, initial-scale=1">
		<title>{% block title %}{% end %}</title>
	    
	    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		
		{% block head %} {% end %}
	</head>
	<body>
		<div class="container">
			
			{% block content %} {% end %}
		
			{% block bottom %} {% end %}
			<script src="static/js/react.js"></script>
			<script src="static/js/react-dom.js"></script>
		</div>
	</body>
</html>