{% extends base.html %}
{% block title %} Category {% end %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h1>Group Categories</h1>
		</div>
	</div>
		
	<div class="row">
		<div class="col-sm-12">
			<table class="table">
				<thread>
					<tr>
						<td style="width=200dp">ID</td>
						<td style="width=200dp">Category name</td>
						<td style="width=200dp">Created by</td>
						<td style="width=200dp">Created date</td>
						<td style="width=200dp">Action</td>
					</tr>
				</thread>
				<tbody>
				{% for category in categories %}
					<tr>
					{% module Template("category_list_item.html", category=category) %}
					</tr>
				{% end %}
				</tbody>
			</table>
		</div>
	</div>
	
{% end %}