{% extends base.html %}
{% block title %} Group {% end %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h1>Group</h1>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-12">
			<h3><a href="/group">Create new group</a></h3>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-12">
			<table class="table">
				<thread>
					<tr>
						<td style="width=200dp">ID</td>
						<td style="width=200dp">Group name</td>
						<td style="width=200dp">Description</td>
						<td style="width=200dp">Category</td>
						<td style="width=200dp">Created by</td>
						<td style="width=200dp">Created date</td>
						<td style="width=200dp">Action</td>
					</tr>
				</thread>
				<tbody>
				{% for group in groups %}
					<tr>
					{% module Template("group_list_item.html", group=group) %}
					</tr>
				{% end %}
				</tbody>
			</table>
		</div>
	</div>
	
{% end %}